@font-face {
  font-family: nasa;
  src: url(./Nasalization\ Rg.otf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nasa;
  color: white;
}

html,body{
  height: 100%;
  width: 100%;
}

#main1{
  height: 100vh;
  width: 100%;
background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fDRrJTIwd2FsbHBhcGVyfGVufDB8fDB8fHww);
/* background-repeat: no-repeat; */
background-size: cover;
background-position: center;
border-bottom: 2px solid white;
}

#main1 h1{
  position: sticky;
  top: 0%;
  left: 50%;
  font-size: 60px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 40px;
}
#main1 h4{
  position: sticky;
  top: 25%;
  left: 50%;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 10px;
}


#main2{
  height: 100vh;
  width: 100%;
background-image: url(https://images.unsplash.com/photo-1643363450791-7e32da7a0c7f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8NGslMjB3YWxscGFwZXIlMjBuYXNhfGVufDB8fDB8fHww);
/* background-repeat: no-repeat; */
background-size: cover;
background-position: center;
border-bottom: 2px solid white;
}
#main2 h1{
  position: sticky;
  top: 0%;
  left: 50%;
  font-size: 60px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 40px;
}
#main2 h4{
  position: sticky;
  top: 20%;
  left: 50%;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 10px;
}



#main3{
  height: 100vh;
  width: 100%;
background-image: url(https://images.unsplash.com/photo-1734249670749-cf73ffd488d9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fDRrJTIwd2FsbHBhcGVyJTIwbmFzYXxlbnwwfHwwfHx8MA%3D%3D);
/* background-repeat: no-repeat; */
background-size: cover;
background-position: center;
}
#main3 h1{
  position: sticky;
  top: 0%;
  left: 50%;
  font-size: 60px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 40px;
}

#main3 h4{
  position: sticky;
  top: 20%;
  left: 50%;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 10px;
}

#main{
  height: 100vh;
  width: 100%;
  background-color: lightsalmon;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-image: url(https://images.hdqwalls.com/download/elonmusk-mars-space-x-05-1366x768.jpg);
  background-repeat: no-repeat;

}

#main h1{
  font-size: 6rem;
}



