*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: #111;
}


//Project - 1 - Randon Quotes
#first{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.1rem 1.1rem;
  background-color: #111;

  h1{
    color: #f4f4f4;
    text-transform: capitalize;
  }
  button{
    padding: 0.7rem 2rem;
    margin-top: 2rem;
    border: none;
    border-radius: 2rem;
    background-color: #f4f4f4;
    color: black;
  }
}