*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;

.nav{
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
padding: 2rem 1.1rem;
gap: 4rem;
::selection{
  color: white;
  background-color: black;
}
.logo{
font-size: 0.7rem;
}

.center-nav{
display: none;
}

.right-nav{
  text-decoration: none;
  background-color: black;
  padding: 1rem 2.7em;
  border: none;
  border-radius: 2rem;

  a{
    color: white;
  }
}
}

section.hero-1{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.1rem 1.1rem;

  h1{
    font-size: 3rem;
  }
  span{
    color: orange;
  }
  p{
    padding-top: 2rem;
  }

  .right{
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 10rem 10rem;
padding: 1.1rem 1.1rem;
grid-template-areas: "header left-side"
                     "header  bottom-side";
grid-gap:2rem;



    header{
      background-color: red;
      grid-area: header;
      background-image: url(./The\ Colosseum\,\ Rome.jpeg);
      background-size: cover;
      border-radius: 0.7rem;
    }
    .left-side{
      background-color: lightblue;
      grid-area: left-side;
      background-image: url(./taj-mahal.jpeg);
      background-size: cover;
      background-position: center;
      border-radius: 0.7rem;
    }
    .bottom-side{
      background-color: lime;
      grid-area: bottom-side;
      background-image: url(./india-gate.jpeg);
      background-size: cover;
      background-position: center;
      border-radius: 0.7rem;
    }
    button{
      padding: 1rem 2rem;
      margin: 2rem 0rem;
      background-color: orangered;
      border: none;
      border-radius: 1.8rem;
      color: white;font-size: 0.9rem;

      &:hover{
        color: black;
        background-color: #f4f4f4;
        border: 1px solid orangered;
        transition:  0.2s;
      }
    }
  }
}

section.hero-2{
  width: 100%;
  padding: 1.1rem 1.1rem;
  display: flex;
  flex-direction: column;
  

  .place{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      overflow-x: auto;  /* ✅ horizontal scroll allow karega */
      overflow-y: hidden; /* vertical scroll hatane ke liye */
      scroll-behavior: smooth; /* optional, smooth scrolling */
      padding: 1rem;
      background: #f4f4f4;

    img{
      width: 80%;
      object-fit: cover;
   border-radius: 1.5rem;
   
    }
  }
}

section.hero-3{
  width: 100%;
  display: flex;
  flex-direction: column;

h1{
  padding-bottom: 1.1rem;
  text-transform: capitalize;
}
  .left{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.1rem 1.1rem;
 
p{
  padding: 1.1rem;
  font-size: 1.4rem;
}
    img{
      width: 100%;
      object-fit: cover;
  border-radius: 2rem;

    }
  }

  .right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.1rem 1.1rem;
.imgs{

  h1{
    padding: 1.1rem;
  }
  gap: 2rem;
    img{
      height: 50%;
      width: 80%;
      border-radius: 1rem;
      object-fit: cover;
      object-position: top;
    }
  }
  }
}
}

@media (min-width:600px) {
  main{
align-items: center;
.nav{
  justify-content: space-between;
  padding: 2rem 2rem;


  .center-nav {
display: none;

  }
}

section.hero-1{
  flex-direction: column;
  .right{
justify-content: center;
  grid-template-columns: 15rem 15rem;

gap: 1rem;
}
  p{
    padding: 2rem 8rem;
  }
}
}
}
@media (min-width:1000px) {
  main{
    padding: 2rem 2rem;
.nav{
  justify-content: space-between;
  padding: 2rem 2rem;


  .center-nav {
    display: flex;
    gap: 1.2rem;

    a{
      color: black;
      font-size: 1.2rem;
      text-decoration: none;
      text-transform: capitalize;
    
    }
  }
}

section.hero-1{
  flex-direction: row;
  .right{

  grid-template-columns: 15rem 15rem;

gap: 1rem;
}
  p{
    padding: 2rem 1rem;
  }
}
section.hero-2{
.place{
  display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 1rem;
      background: #f4f4f4;
      justify-content: space-around;

      img{
        width: 30%;
      }
}
}

section.hero-3{
  flex-direction: row;

  .right{


    flex-direction: row;
  }
}
}
}

